<div class="border-2 rounded-2xl border-orange-300 m-2 p-2 flex items-center space-x-0.5 font-mono ">
    <ng-container *ngIf="!isEditing" class="space-x-3">
        <div class="flex space-x-3 grow items-center pr-4">
            <h1 class="text-3xl">{{item.itemName}},</h1>
            <h1 class="text-3xl">{{item.itemQuantity}}</h1>
        </div>
        
    </ng-container>

    <app-item-update #iUpdate class="flex text-3xl grow space-x-3 items-center " *ngIf="isEditing" [itemUpd]="this.item" (updated)="updated($event)">
    </app-item-update>

    <button class="min-w-20 bg-red-400 rounded p-2 hover:cursor-pointer hover:bg-red-300" (click)="deleteItem()">delete</button>
    <button *ngIf="!isEditing" class="min-w-20 bg-blue-400 rounded p-2 hover:cursor-pointer hover:bg-blue-300" (click)="updateItem()">update</button>
    <button *ngIf="isEditing" class="min-w-20 bg-green-400 rounded p-2 hover:cursor-pointer hover:bg-green-300" (click)="confirmUpdate()">confirm</button>
</div>
