<div class="flex-1 px-6">
    <h2 class="text-2xl font-bold text-center mb-4">Dodaj produkt do listy</h2>
  
    <form [formGroup]="addItemForm" (submit)="addItem()" class="space-y-2">
        <div class="flex flex-col">
            <label for="item-name" class="text-gray-700 font-semibold mb-1">Nazwa Produktu:</label>
            <input id="item-name" type="text" formControlName="itemName"
                class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-400">
        </div>

    </form>
  </div>